html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(fonts/font.woff2) format('woff2');
}
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400 900;
    font-display: swap;
    src: url(../fonts/Orbitron.woff2) format('woff2'), url(../fonts/Orbitron.woff) format ('woff'), url(../fonts/Orbitron.ttf) format ('truetype');
}
h1 {
    letter-spacing: -7px;
    font-size: 10em;
    color: white;
    font-family: 'Orbitron';
    font-weight: lighter;
    text-shadow: 12px 12px 15px #ff00ff;
    margin-bottom: 0.2em;
    transform: scale(1,1.25);
}
h2 {
    font-size: 3em;
    padding: 1em;
    font-family: 'Orbitron';
    color: white;
}
#main-menu, #mode, #scan, #category, #songs {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #1a090d, #6b6570);
}

@keyframes subtitle-animation {
    0% {border-color: #4deeea; box-shadow: 0px 0px 10px 10px rgba(77, 238, 234, 0.5);}
    33% {border-color: #f000ff; box-shadow: 0px 0px 10px 10px rgba(240, 0, 255, 0.5);}
    66% {border-color: #2323ff; box-shadow: 0px 0px 10px 10px rgba(35, 35, 255, 0.5);}
    100% {border-color: #4deeea; box-shadow: 0px 0px 10px 10px rgba(77, 238, 234, 0.5);}
}

#subtitle {
    border: 10px solid #4deeea;
    border-radius: 1em;
    animation-name: subtitle-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    box-shadow: 0px 0px 10px 10px rgba(77, 238, 234, 0.5);
}
#subtitle sup{
    font-size: 0.75em;
}
.button {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 3.5em;
    background-color: #ff00ff;
    border: 1px solid #ff00ff;
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px 10px rgba(255, 0, 255, 0.5);
    font-size: 3em;
    color: white;
    font-weight: bold;
    font-family: 'Orbitron';
    margin-bottom: 1em;
    text-decoration: none;
    &:active {
        background-color: #cc00cc;
        border: 1px solid #cc00cc;
        box-shadow: 0px 0px 10px 10px rgba(204, 0, 204, 0.5);
        transform: scale(0.9,0.9);
    }
}
#settings-button {
    background-color: #7c7c7c;
    border: 1px solid #7c7c7c;
    box-shadow: none;
    &:active {
        background-color: #666666;
        border: 1px solid #666666;
        transform: scale(0.9,0.9);
    }
}

@keyframes spin-vinyl {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#vinyl {
    width: 80%;
    margin: 5em;
    animation-name: spin-vinyl;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#settings-box {
    position: absolute;
    background-color: #4c484e;
    width: 90%;
    height: 95%;
    border: 8px solid #4deeea;
    
    box-shadow: 0px 0px 10px 10px #4deeeaa0 inset,0px 0px 20px 20px #4deeeaa0;
    top: 110%;
    transition: top 0.2s;
    &.playAnim {
        top: 2.5%;
        transition: top 0.2s;
    }
    h2 {
        padding: 1em 0 0.5em 0;
        margin: 0;
        font-size: 6em;
        text-align: center;
    }
    label {
        font-family: 'Orbitron';
        color: rgb(241, 241, 241);
        font-size: 4em;
        padding: 0;
        margin: 0 0.5em 0.5em;
    }
    select {
        padding: 0.25em 0.5em;
        width: 85%;
        font-size: 2.5em;
        font-family: 'Orbitron';
        align-self: center;
    }
    option {
        font-family: 'Orbitron';
        font-size: 0.3em;
    }
}
@keyframes pop-up {
    from {top: 100%;}
    to {top: 2.5%;}
}
#settings-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.close-button {
    position: absolute;
    top: 1em;
    right: 1em;
    border: none;
    mask: url("../media/svg/close.svg") center / contain no-repeat;
    width: 8em;
    height: 8em;
    background-color: white;
    
}
.play-button {
    border: none;
    mask: url("../media/svg/play.svg") center / contain no-repeat;
    width: 8em;
    height: 8em;
    background-color: white;
}
.pause-button {
    border: none;
    mask: url("../media/svg/pause.svg") center / contain no-repeat;
    width: 8em;
    height: 8em;
    background-color: white;
}
.replay-button {
    border: none;
    mask: url("../media/svg/replay.svg") center / contain no-repeat;
    width: 8em;
    height: 8em;
    background-color: white;
}
#save-button {
    margin: auto;
    margin-bottom: 2em;
    width: 40%;
    font-size: 3em;
}
/*Mode Page*/

#mode h2{
    font-size: 6em;
    font-weight: lighter;
    text-shadow: 12px 12px 15px #ff00ff;
}
#mode .button{
    flex-direction: column;
    width: auto;
    padding: 0.5em 1em;
}

#mode .mode-normal{
    background-color: #2323ff;
    border: 1px solid #2323ff;
    box-shadow: 0px 0px 10px 10px rgba(35, 35, 255, 0.5);
}

#mode .mode-bingo-easy{
    margin-top: 2em;
}

/*Scan page*/

#scan h2 {
    font-family: 'Orbitron';
    font-size: 5em;
    font-weight: lighter;
    text-shadow: 12px 12px 15px #ff00ff;
    padding: 0.5em 0 0 0;
}
#scan marquee {
    font-family: 'Orbitron';
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 3em;
    color: white;
    font-weight: lighter;
}

#qr-reader {
    width: 100%;
    border: 0;
}

#category h2 {
    font-size: 5em;
    width: 60%;
    text-align: center;
}

#category.e1, #category.h1, #category.e1 h2, #category.h1 h2 {
    background-image: linear-gradient(to bottom, #23775e, #30b88f);
}
#category.e1 h2, #category.h1 h2 {
    text-shadow: 12px 12px 15px #23775e;
    border-radius: 50px;
}
#category.e2, #category.h2, #category.e2 h2, #category.h2 h2 {
    background-image: linear-gradient(to bottom, #cc4689, #e074aa);
}
#category.e2 h2, #category.h2 h2 {
    text-shadow: 12px 12px 15px #cc4689;
    border-radius: 50px;
}
#category.e3, #category.h3, #category.e3 h2, #category.h3 h2 {
    background-image: linear-gradient(to bottom, #e77c01, #ffb84d);
}
#category.e3 h2, #category.h3 h2 {
    text-shadow: 12px 12px 15px #e77c01;
    border-radius: 50px;
}
#category.e4, #category.h4, #category.e4 h2, #category.h4 h2 {
    background-image: linear-gradient(to bottom, #7c0986, #c53fd1);
}
#category.e4 h2, #category.h41 h2 {
    text-shadow: 12px 12px 15px #7c0986;
    border-radius: 50px;
}
#category.e5, #category.h5, #category.e5 h2, #category.h5 h2 {
    background-image: linear-gradient(to bottom, #240986, #0c4ea5);
}
#category.e5 h2, #category.h5 h2 {
    text-shadow: 12px 12px 15px #240986;
    border-radius: 50px;
}

#category .card{
    display: flex;
    justify-content: center;
    margin-top: 25em;
    padding: 5em 0;
}

#category .button{
    margin-top: 0.5em;
    width: 70%;
    background-color: #545454;
    border: 1px solid #545454;
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px 10px rgba(146, 146, 146, 0.5);
}
.hide {
    display: none!important;
}
#songs .music-controls {
    display: flex;
    justify-content: center;
    gap: 5em;
}
#songs .music-controls div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8em;
    height: 8em;
    border: 1px solid #ff00ff;
    border-radius: 5em;
    background-color: #ff00ff;
    box-shadow: 0px 0px 15px 15px #ff00ffa0;
}
#songs #music-panel, #songs #music-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    height: 100%;
}
#songs .next-button {
    width: 600px;
    height: 150px;
    margin-bottom: 2.5em;
    font-size: 3em;
    font-family: 'orbitron';
    color: white;
    border: 1px solid #ff00ff;
    background-color: #ff00ff;
    box-shadow: 0px 0px 15px 15px #ff00ffa0;
}

#songs .next-button:active {
    background-color: #cc00cc;
    border: 1px solid #cc00cc;
    box-shadow: 0px 0px 15px 15px #cc00cca0;
    transform: scale(0.9,0.9);
}

#songs #song-status{
    text-align: center;
    font-family: 'orbitron';
    font-weight: lighter;
    font-size: 4em;
    color: white;
}
#songs button.play {
    width: 8em;
    height: 8em;
    font-size: unset;
    border: none;
    background-color: white;
    mask: url("../media/svg/play.svg") center / contain no-repeat;
}
#songs button.pause{
    width: 8em;
    height: 8em;
    font-size: unset;
    border: none;
    background-color: white;
    mask: url("../media/svg/pause.svg") center / contain no-repeat;
}
#songs #song-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 5em;
    padding: 5em;
    background-image: linear-gradient(to bottom, #1a090d, #6b6570);
    text-shadow: 12px 12px 15px #272727;
    border-radius: 50px;
}
#songs #song-info p{
    margin: 0;
    font-size: 4em;
    color: white;
    font-family: 'Orbitron';
    font-weight: lighter;
    transform: scale(1,1.25);
}
#songs #song-info #year{
    font-size: 8em;
}